@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.logo h1 {
  font-size: 28px;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-section {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.centered-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
