
<!DOCTYPE html>
<html>
<head>
    <title>URL Blocking Dashboard</title>
    <link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Bell</h1>
            </div>
            <div class="contact-info">
                <p>📞 (888) 466-2453</p>
                <p>✉️ info@bell.com</p>
            </div>
        </nav>
    </header> 
    <section class="centered-section">
        <h1>Main Dashboard</h1>
        <div class="search">
            <input type="text" id="search-input" placeholder="Search URLs">
            <select id="status-filter">
              <option value="all">All</option>
              <option value="blocked">Blocked</option>
              <option value="unblocked">Unblocked</option>
            </select>
        </div>
        <div class="content">
        <table id="url-table">
            <thead>
                <tr>
                    <th class="url">URL</th>
                    <th class="status">Status</th>
                </tr>
            </thead>
            <tbody id="url-table-body">
                {% for url in urlList %}
                <tr>
                    <td>{{ url.url }}</td>
                    <td><a href="/change/{{url.url}}" 
                        {% if url.isMalicious : %}
                        class="status-toggle blocked"
                        {% else %}
                        class="status-toggle unblocked"
                        {% endif %}>{{ url.isMalicious }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        <br><br>
        <b>Numbers of websites blocked: </b><span id="num-blocked">#</span>
        {% for url in urlList %}
        <p>{{ url.url }}</p>
        <p><a href="/change/{{url.url}}" 
            {% if url.isMalicious : %}
            class="status-toggle blocked"
            {% else %}
            class="status-toggle unblocked"
            {% endif %}>{{ url.isMalicious }}</a></p>
    {% endfor %}

        </div>
      </section>
    <script>
        data=JSON.parse("{{urlList}}")
    </script>
    <script src="static/app.js"></script>

    
</body>
</html>